<form (ngSubmit)="saveLocation()" [formGroup]="locationForm">
  <div class="form-group">
    <label for="name">Name Location</label>
    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name" required>
  </div>
  <div class="form-group">
    <label for="area_m2">Area m2</label>
    <input formControlName="area_m2" type="number" class="form-control" id="area_m2" placeholder="Area m2" required>
  </div>
  <div class="d-flex">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>