<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations">
        <th scope="row">{{location.id}}</th>
        <td>{{location.name}}</td>
        <td>{{location.area_m2}}m2</td>
      </tr>
    </tbody>
  </table>